@import './editor.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* base */
    --myds-black-900: 21.03% 0.006 285.89; /* #18181B or Zinc 900 */
    --myds-black-800: 27.39% 0.005 286.03; /* #27272A or Zinc 800 */
    --myds-black-700: 37.03% 0.012 285.81; /* #3F3F46 or Zinc 700 */
    --myds-white: 100% 0 0; /* #FFFFFF */
    --myds-forcewhite: 100% 0 0; /* #FFFFFF */
    --myds-focuswhite-100: 100% 0 0; /* #FFFFFF */
    --myds-focuswhite-200: 100% 0 0; /* #FFFFFF */

    /* gray */
    --myds-dim-500: 55.17% 0.014 285.94; /* #71717A or Zinc 500 */
    --myds-outline-400: 71.18% 0.013 286.07; /* #A1A1AA or Zinc 400 */
    --myds-outline-300: 86.99% 0 0; /* #D4D4D4 or Zinc 300 */
    --myds-outline-200: 91.97% 0.004 286.32; /* #E4E4E7 or Zinc 200 */
    --myds-washed-100: 96.74% 0.001 286.38; /* #F4F4F5 or Zinc 100 */
    --myds-background-50: 98.51% 0 0; /* #FAFAFA or Zinc 50 */
    --myds-background-0: 100% 0 0; /* #FFFFFF */

    /* brand */
    --myds-brand-600: 54.61% 0.215 262.88; /* #2563EB */
    --myds-brand-700: 48.82% 0.217 264.38; /* #1D4ED8 */
    --myds-brand-300: 78.27% 0.1095615641250738 265.0682055860161; /* #96B7FF */
    --myds-brand-200: 87.26% 0.06194175757836567 265.95644933587766; /* #C2D5FF */
    --myds-brand-50: 97% 0.014 268.49; /* #F1F5FF */
    --myds-text-brand-600: 48.82% 0.217 264.38; /* #1D4ED8 */

    /* askmygovbrand */
    --askmygov-brand-600: 53% 0.268 287.87; /* #702FF9 */
    --askmygov-brand-700: 47.59% 0.264 284.57; /* #5B1AE6 */
    --askmygov-brand-300: 74.13% 0.154 297.611; /* #B794FF */
    --askmygov-brand-200: 84.57% 0.089 299.04; /* #D4C0FF */
    --askmygov-brand-50: 96.06% 0.022 300.208; /* #F4EFFF */
    --askmygov-text-brand-600: 53% 0.268 287.87; /* #702FF9 */

    /* danger */
    --myds-danger-300: 80.77% 0.103 19.57; /* #FCA5A5 or Red 300 */
    --myds-danger-200: 88.45% 0.059 18.33; /* #FECACA or Red 200 */
    --myds-danger-100: 93.56% 0.031 17.72; /* #FEE2E2 or Red 100 */
    --myds-danger-50: 97.05% 0.013 17.38; /* #FEF2F2 or Red 50 */
    --text-danger-600: 57.71% 0.215 27.33; /* #DC2626 */
  }

  .dark {
    /* base */
    --myds-black-900: 100% 0 0; /* #FFFFFF */
    --myds-black-800: 96.74% 0.001 286.38; /* #F4F4F5 */
    --myds-black-700: 87.11% 0.005 286.29; /* #D4D4D8 */
    --myds-white: 21.03% 0.006 285.89; /* #18181B */
    --myds-forcewhite: 100% 0 0; /* #FFFFFF */
    --myds-focuswhite-100: 23.24% 0.008 285.79; /* #1D1D21 */
    --myds-focuswhite-200: 27.39% 0.005 286.03; /* #27272A */

    /* gray */
    --myds-dim-500: 71.18% 0.013 286.07; /* #A1A1AA */
    --myds-outline-400: 44.19% 0.015 285.79; /* #52525B */
    --myds-outline-300: 37.03% 0.012 285.81; /* #3F3F46 */
    --myds-outline-200: 27.39% 0.005 286.03; /* #27272A */
    --myds-washed-100: 23.24% 0.008 285.79; /* #1D1D21 */
    --myds-background-50: 20.15% 0.006 285.86; /* #161619 */
    --myds-background-0: 100%.00 0 0; /* #FFFFFF */

    /* brand */
    --myds-brand-600: 54.61% 0.215 262.88; /* #2563EB */
    --myds-brand-700: 48.82% 0.217 264.38; /* #1D4ED8 */
    --myds-brand-300: 42.44% 0.181 265.64; /* #1E40AF */
    --myds-brand-200: 37.91% 0.138 265.52; /* #1E3A8A */
    --myds-brand-50: 21.97% 0.06 268.56; /* #0F1836 */
    --myds-text-brand-600: 65.63% 0.175 263.82; /* #588BFB */

    /* askmygovbrand */
    --askmygov-brand-600: 53% 0.268 287.87; /* #702FF9 */
    --askmygov-brand-700: 47.59% 0.264 284.57; /* #5B1AE6 */
    --askmygov-brand-300: 74.13% 0.154 297.611; /* #B794FF */
    --askmygov-brand-200: 41.56% 0.21 287.9; /* #4f1fb4 */
    --askmygov-brand-50: 23.13% 0.06 295.73; /* #201636 */
    --askmygov-text-brand-600: 65.93% 0.204 295.04; /* #9E70FF */

    /* danger */
    --myds-danger-300: 44.37% 0.161 26.9; /* #991B1B or Red 800 */
    --myds-danger-200: 39.58% 0.133 25.72; /* #7F1D1D or Red 900 */
    --myds-danger-100: 25.75% 0.089 26.04; /* #450A0A or Red 950 */
    --myds-danger-50: 19.68% 0.06 24.53; /* #2B0707 */
    --text-danger-600: 68.71% 0.202 24.13; /* #FF5959 */
  }

  html {
    box-sizing: border-box;
  }

  * {
    @apply border-outline-200;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  :focus:not(:focus-visible) {
    outline: none;
  }

  body {
    @apply bg-background text-foreground;
  }
}
